<!DOCTYPE html>
<html lang="en">

<head>
    <!-- https://www.w3schools.com/css/css3_flexbox.asp -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./layout1.css">

</head>

<body>
    <div class="main_div">
        <div class="div_left"></div>
        <div class="div_sentar"></div>
        <div class="div_right"></div>
    </div>
</body>

</html>